/* for the neon font - Train One */
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
.container {
    max-width: 960px;
  }
  
  /*
   * Custom translucent site header
   */
  
  .site-header {
    background:url("https://images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg")  center;
    /*background-image: radial-gradient(circle at center, #460b60, #290638, #15032a, #0f0021);*/
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #999;
    transition: ease-in-out color .15s;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  #tab{
    font-size: 1rem;
    text-decoration: none;
  }
  #click-here {
    font-family: 'Limelight', cursive;
    font-size: 1.5rem;
    filter: blur(.3px);
    text-decoration: none;
  }
  
  .neon {
    font-family: neon;
    font-size: 20pt;
    animation: glow 3s linear infinite;
    -moz-animation: glow 3s linear infinite;
    -webkit-animation: glow 3s linear infinite;
    -o-animation: glow 3s linear infinite;
  }
  .neon:hover{
    font-family: neon;
    font-size: 20pt;
    animation: glow 1s linear infinite;
    -moz-animation: glow 1s linear infinite;
    -webkit-animation: glow 1s linear infinite;
    -o-animation: glow 1s linear infinite;
  }
  @keyframes glow {
    50% {
      text-shadow: 0 0 0.5vw #26318f, 0 0 2vw #1100ff,  0 0 3vw #dd33ff, 0 0 3vw #FFF, 0 0 5vw #41c2fe, 0 0 3vw #41f1fe, 0 0 2vw #FF69B4, 0 0 .5vw #FF69B4;
      color: #4778ff;
    }
    0%,
    100% {
      text-shadow: 0 0 .5vw #1c88e0, 0 0 1vw #1cc3e0, 0 0 2vw #b433ff, 0 0 3vw #FF3366, 0 0 5vw #FF3366, 0 0 2vw #FF3366, 0 0 1vw #FF3366, 0 0 0.5vw #8F2626;
      color: #ee33ff;
      -webkit-text-stroke: .1px #FF69B4;
    }
  }
  
 